<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :due_at %>
    <%= f.text_field :due_at, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :done %>
    <%= f.check_box :done, :class => 'checkbox' %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => 'submit' %>
  </div>
<% end %>
