<% @title = 'Tasks' %>
<div id="add_task">
  <%= form_for(@task, :remote => true) do |f| %>
    <fieldset>
      <%= f.label :name, 'Task' %>
      <%= f.text_field :name, :required => true, :class => 'text_field' %>
    </fieldset>
    <fieldset>
      <%= f.label :due_at %>
      <input type="date" id="task_due_at" name="task[due_at]" class="text_field">
    </fieldset>
    <fieldset>
      <%= f.label :project %>
      <%= f.select :project_id, @projects.map { |project| [project.name, project.id] }, :include_blank => true %>
    </fieldset>
    <fieldset>
      <%= f.submit 'Add' %>
    </fieldset>
  <% end %>
</div>
<aside>
  <section>
    <h1>Projects</h1>
    <div id="add_project">
      <%= form_for(@project, :remote => true) do |f| %>
        <%= f.text_field :name, :required => true, :class => 'text_field' %>
        <%= f.submit 'Add' %>
      <% end %>
    </div>
    <div id="projects">
      <%= render :partial => 'projects/projects' %>
    </div>
  </section>
</aside>
<div id="tasks">
  <%= render :partial => 'tasks' %>
</div>