<% @title = 'Tasks' %>
<h2>New Task</h2>
<%= form_for(@new_task, :html => {:class => 'inline_form'}) do |f| %>
  <% if @new_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @new_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :what %><br/>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :project %><br/>
    <%= f.select :project_id, @projects.map { |project| [project.name, project.id] }, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :context %><br/>
    <%= f.select :context_id, @contexts.map { |context| [context.name, context.id] }, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :when %><br/>
    <%= f.text_field :due_at, :class => 'text_field' %>
  </div>
  <div class="actions">
    <%= f.submit 'Add', :class => 'submit' %>
  </div>
<% end %>
<div id="main">
  <% %w[overdue today tomorrow later someday].each do |list_name| %>
    <% @list = eval("@#{list_name}") %>
    <% unless (list_name=='overdue' && @list.empty?) %>
      <div id="<%= list_name %>">
        <h2><%= list_name.capitalize %></h2>
        <ul class="list">
          <% if @list.empty? %>
            <li class="empty">No tasks</li>
          <% else %>
            <%= render @list %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
<div id="sidebar">
  <h2>Projects <%= link_to image_tag('add.png'), new_project_path, :alt => 'Add', :title => 'Add', :class => 'add' %></h2>
  <ul class="list">
    <% if @projects.empty? %>
      <li class="empty">No projects</li>
    <% else %>
      <% @projects.each do |project| %>
        <li class="project">
          <%= link_to_unless_current(project.name, tasks_path(:project_id => project)) {|name, link| link_to name, link, :class => 'selected' } %>
          <%= link_to image_tag('cross.png'), project, :confirm => "Delete project '#{project.name}' and all of its tasks?", :method => :delete, :alt => 'Delete', :title => 'Delete', :class => 'delete' %>
          <%= link_to image_tag('pencil.png'), edit_project_path(project), :alt => 'Edit', :title => 'Edit', :class => 'edit' %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <h2>Contexts <%= link_to image_tag('add.png'), new_context_path, :alt => 'Add', :title => 'Add', :class => 'add' %></h2>
  <ul class="list">
    <% if @contexts.empty? %>
      <li class="empty">No contexts</li>
    <% else %>
      <% @contexts.each do |context| %>
        <li class="context">
          <%= link_to_unless_current("@#{context.name}", tasks_path(:context_id => context)) {|name, link| link_to name, link, :class => 'selected' } %>
          <%= link_to image_tag('cross.png'), context, :confirm => "Delete context '@#{context.name}'?", :method => :delete, :alt => 'Delete', :title => 'Delete', :class => 'delete' %>
          <%= link_to image_tag('pencil.png'), edit_context_path(context), :alt => 'Edit', :title => 'Edit', :class => 'edit' %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>