<% @title = 'Tasks' %>
<div id="add_task">
  <%= form_for(@new_task) do |f| %>
    <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name, :required => true, :class => 'text_field' %>
    </fieldset>
    <fieldset>
      <%= f.label :due_at %>
      <input type="datetime" id="task_due_at" name="task[due_at]" class="text_field">
    </fieldset>
    <fieldset>
      <%= f.submit 'Add' %>
    </fieldset>
  <% end %>
</div>
<% %w[overdue today tomorrow later someday done].each do |list_name| %>
  <% @list = eval("@#{list_name}") %>
  <% unless @list.empty? %>
    <section id="<%= list_name %>">
      <h1><%= "#{@list.size} #{list_name.capitalize}" %></h1>
      <ul>
        <%= render @list %>
      </ul>
    </section>
  <% end %>
<% end %>