<% @title = 'Tasks' %>
<div id="add_task">
  <%= form_for(@task, :remote => true) do |f| %>
    <fieldset>
      <%= f.label :name, 'Task' %>
      <%= f.text_field :name, :required => true, :class => 'text_field' %>
    </fieldset>
    <fieldset>
      <%= f.label :due_at %>
      <input type="datetime" id="task_due_at" name="task[due_at]" class="text_field">
    </fieldset>
    <fieldset>
      <%= f.submit 'Add' %>
    </fieldset>
  <% end %>
</div>
<div id="tasks">
  <%= render :partial => 'tasks' %>
</div>