<% @title = 'Tasks' %>
<h2>New Task</h2>
<%= form_for(@new_task, :html => {:class => 'inline_form'}) do |f| %>
  <% if @new_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @new_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :what %><br/>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :when %><br/>
    <%= f.text_field :due_at, :class => 'text_field' %>
  </div>
  <div class="actions">
    <%= f.submit 'Add', :class => 'submit' %>
  </div>
<% end %>
<div id="main">
  <h2>My Tasks</h2>
  <% %w[overdue today tomorrow later someday].each do |list_name| %>
    <div id="<%= list_name %>">
      <h3><%= list_name.capitalize %></h3>
      <ul class="bulletless task_list">
        <% if eval("@#{list_name}.empty?") %>
          <li class="task"><span class="no_tasks">No tasks</span></li>
        <% else %>
          <%= render eval("@#{list_name}") %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div id="sidebar">
  <h2>Projects <%= link_to image_tag('add.png'), new_project_path, :class => 'add' %></h2>
  <ul class="bulletless task_list">
    <% @projects.each do |project| %>
      <li class="project">
        <%= link_to project.name, tasks_path(:project_id => project) %>
        <%= link_to image_tag('pencil.png'), edit_project_path(project), :class => 'edit' %>
        <%= link_to image_tag('cross.png'), project, :confirm => 'Delete this project?', :method => :delete, :class => 'delete' %>
      </li>
    <% end %>
  </ul>
</div>