<% @title = 'Tasks' %>
<h2>New Task</h2>
<%= form_for(@new_task, :html => {:class => 'inline_form'}) do |f| %>
  <% if @new_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @new_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :what %><br/>
    <%= f.text_field :name, :class => 'text_field' %>
    <p class="example">Example: My task > project_name @ context_name</p>
  </div>
  <div class="field">
    <%= f.label :when %><br/>
    <%= f.text_field :due_at, :class => 'text_field' %>
    <p class="example">Example: 2011-12-31 17:35</p>
  </div>
  <div class="actions">
    <%= f.submit 'Add', :class => 'submit' %>
  </div>
<% end %>
<div id="main">
  <% %w[overdue today tomorrow later someday].each do |list_name| %>
    <div id="<%= list_name %>">
      <h2><%= list_name.capitalize %></h2>
      <ul class="list">
        <% if eval("@#{list_name}.empty?") %>
          <li class="task"><span class="no_tasks">No tasks</span></li>
        <% else %>
          <%= render eval("@#{list_name}") %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div id="sidebar">
  <h2>Projects <%= link_to image_tag('add.png'), new_project_path, :alt => 'Add', :title => 'Add', :class => 'add' %></h2>
  <ul class="list">
    <% @projects.each do |project| %>
      <li class="project">
        <%= link_to_unless_current(project.name, tasks_path(:project_id => project)) {|name, link| link_to name, link, :class => 'selected' } %>
        <%= link_to image_tag('cross.png'), project, :confirm => "Delete '#{project.name}' project and all of its tasks?", :method => :delete, :alt => 'Delete', :title => 'Delete', :class => 'delete' %>
        <%= link_to image_tag('pencil.png'), edit_project_path(project), :alt => 'Edit', :title => 'Edit', :class => 'edit' %>
      </li>
    <% end %>
  </ul>
  <h2>Contexts <%= link_to image_tag('add.png'), new_context_path, :alt => 'Add', :title => 'Add', :class => 'add' %></h2>
  <ul class="list">
    <% @contexts.each do |context| %>
      <li class="context">
        <%= link_to_unless_current("@#{context.name}", tasks_path(:context_id => context)) {|name, link| link_to name, link, :class => 'selected' } %>
        <%= link_to image_tag('cross.png'), context, :confirm => "Delete '@#{context.name}' context?", :method => :delete, :alt => 'Delete', :title => 'Delete', :class => 'delete' %>
        <%= link_to image_tag('pencil.png'), edit_context_path(context), :alt => 'Edit', :title => 'Edit', :class => 'edit' %>
      </li>
    <% end %>
  </ul>
</div>