<% @title = 'Tasks' %>
<h2>New Task</h2>
<%= form_for(@task, :html => {:class => 'inline_form'}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :what %><br/>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :when %><br/>
    <%= f.text_field :due_at, :class => 'text_field' %>
  </div>
  <div class="actions">
    <%= f.submit 'Add', :class => 'submit' %>
  </div>
<% end %>

<h2>My Tasks</h2>
<% %w[overdue today tomorrow later someday].each do |list_name| %>
  <div id="<%= list_name %>">
    <h3><%= list_name.capitalize %></h3>
    <ul class="bulletless task_list">
      <% if eval("@#{list_name}.empty?") %>
        <li class="task"><span class="no_tasks">No tasks</span></li>
      <% else %>
        <%= render eval("@#{list_name}") %>
      <% end %>
    </ul>
  </div>
<% end %>