<% @title = 'Projects' %>
<h2>Projects</h2>
<%= link_to 'New Project', new_project_path %>
<% @projects.each do |project| %>
  <h3><%= project.name %></h3>
  <%= link_to 'Show', project %>
  <%= link_to 'Edit', edit_project_path(project) %>
  <%= link_to 'Destroy', project, :confirm => 'Delete this project?', :method => :delete %>
  <p><%= project.description %></p>
  <%= render project.tasks %>
<% end %>