<% if @context.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@context.errors.count, "error") %> prohibited this context from being saved:</h2>
    <ul>
    <% @context.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@context) do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>