<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @context.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @context.name %>
</p>


<%= link_to 'Edit', edit_context_path(@context) %> |
<%= link_to 'Back', contexts_path %>
