<!DOCTYPE html>
<html>
<head>
  <title><%= @title.titleize + ' - Tasky' %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="loading" style="display: none;">
    <%= image_tag 'spinner.gif' %>
  </div>
  <div id="wrapper">
    <div id="header">
      <h1 id="logo"><%= link_to 'Tasky', root_path %></h1>
      <ul id="menu" class="inline_list">
        <% if current_user %>
          <li>Hi, <%= current_user.name %>!</li>
          <li><%= link_to_unless_current('Tasks', tasks_path) {|name, link| link_to name, link, :class => 'selected' } %></li>
          <li><%= link_to_unless_current('Settings', edit_user_path(current_user)) {|name, link| link_to name, link, :class => 'selected' } %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li><%= RPXNow.popup_code('Login', 'tasky', user_sessions_url).html_safe %></li>
        <% end %>
      </ul>
    </div>
    <div id="content">
      <%- flash.each do |name, message| -%>
        <%= content_tag :p, message, :class => name %>
      <%- end -%>
      <%= yield %>
    </div>
    <div id="footer">
      <p><%= link_to 'Made in ExpressionLab', 'http://www.expressionlab.com', :target => '_blank' %></p>
    </div>
  </div>
  <%= javascript_include_tag :defaults %>
  <%= yield :javascript %>
</body>
</html>