<!DOCTYPE html>
<html>
<head>
  <title><%= @title.titleize + ' - Tasky' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <h1><%= link_to 'Tasky', root_path %></h1>
    <nav>
      <ul>
        <li><%= link_to 'Login with Twitter', '#' %></li>
      </ul>
    </nav>
  </header>
  <section>
    <%- flash.each do |name, message| -%>
      <%= content_tag :p, message, :class => name %>
    <%- end -%>
    <%= yield -%>
  </section>
  <footer>
    <p><%= link_to 'Made in ExpressionLab', 'http://www.expressionlab.com', :target => '_blank' %></p>
  </footer>
</body>
</html>